*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

.container{
    max-width:fit-content;
    padding: 0%;;
    margin: auto;
    text-align: center;
}

.container h1, p{
    text-align: center;
}

form{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

input{
    border: black;
    border-radius: 12px;
    width: auto;;
    font-size:small;
    padding: 6px;
    margin: 12px;
}

.submit{
    border-width: 2px;
    border: aqua;
    border-style: double;
    background-color: blue;
    width: 10x;
}

.btn{
    background-color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: white;
    border: white ;
    border-radius: 10px;
    cursor: pointer;
    height: 30px;
}

.bg{
    width:100%;
    position: absolute;
    z-index: -1;
    opacity: .3;
}

.menu1{
    text-align: center;
    display: inline;
}

.menu2{
    border:4px solid red;
    padding: 6px;
    margin: auto;

}
.count{
padding: 10%;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }